<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job_catagory.name %>
</p>

<%= link_to 'Edit', edit_job_catagory_path(@job_catagory) %> |
<%= link_to 'Back', job_catagories_path %>
